<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="/vendors/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="scripts/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Weekend Challenge 4</title>
  </head>
  <body>
    <h2>To Do List</h2>
    <h4>Create a new Task...</h4>
    <input type="text" id="toDoItem" placeholder="I need to..."/>
    <button type="button" name="button" id="addTaskButton">Add Item to List</button>
    <h4>Unfinished Business</h4>
    <div id="toDoItems"></div>
    <h4>Completed Tasks</h4>
    <div id="completedTasksDiv"></div>
  </body>
</html>
